*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #111;
}

#cursor{
    width: 20px;
    height: 20px;
    background-color: #43ce24;
    border-radius: 50%;
    position: fixed;
    
   
}