*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
html,
body{
    width: 100%;
    height: 100%;
  
}
body{
     overflow-x: hidden;
}

#hero1{
    width: 100%;
    height: 100%;
    background-color: rgb(9, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
}


#hero2{
    width: 100%;
    height: 100%;
    background-color: rgb(40, 204, 37);
    padding: 2vw;
}
#hero2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
}

#hero3{
    width: 100%;
    height: 100%;
    background-color: rgb(13, 12, 13);
    display: flex;
    align-items: center;
    justify-content: center;
}